@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
#home {
  float: left;
}
#home>img {
  width: 40px;
}
#page-title {
   font-family: 'Josefin Sans', sans-serif;
   font-weight: 500;
}
.titles, .gate-section, .work-section {
   color: #353C46;
   text-align: center;
}

.gate-section, .work-section {
   margin: 40px;
}
.gate-section>h3, .gate-section>h4 {
   font-family: 'Josefin Sans', sans-serif;
   font-weight: 500;
}

a:link{
  color:#00008B;
}
a:visited{
  color:#00008B;
}
a:hover{
  color:blue;
}
a:focus{
  color:blue;
}
a:active{
  color:green;
}
/*
TIMELINE CSS STARTS HERE
*/

.timeline{
   margin-top: 1px;
   padding: 30px 0;
   font-family: 'Roboto', sans-serif;
   background: #F1F2F6;

}

#cover-image {
    height: 550px;
    width: 100%;
   }

#timeline-title {
   margin-top: 30px;
   text-align: center;
   font-weight: 300;
   color: #777
}

#timeline-title span {
   font-weight: 600;
}

.container {
   width: 80%;
   padding: 50px 0;
   margin: 30px auto;
   position: relative;
   overflow: hidden;
}

.container:before {
   content: '';
   position: absolute;
   top: 0;
   left: 50%;
   margin-left: -1px;
   width: 2px;
   height: 100%;
   background: #CCD1D9;
   z-index: 1
}

.timeline-block {
   width: -webkit-calc(50% + 8px);
   width: -moz-calc(50% + 8px);
   width: calc(50% + 8px);
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: flex;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -moz-box-pack: justify;
   justify-content: space-between;
   clear: both;
}

.timeline-block-right {
   float: right;
}

.timeline-block-left {
   float: left;
   direction: rtl
}

.marker {
   width: 16px;
   height: 16px;
   border-radius: 50%;
   border: 2px solid #F5F7FA;
   background: #4FC1E9;
   margin-top: 10px;
   z-index: 1
}

.timeline-content {
   width: 95%;
   padding: 0 15px;
   color: #666
}

.timeline-content h3 {
   margin-top: 5px;
   margin-bottom: 5px;
   font-size: 25px;
   font-weight: 500
}

.timeline-content span {
   font-size: 15px;
   color: #8B94A3;
}

.timeline-content p {
   font-size: 14px;
   line-height: 1.5em;
   word-spacing: 1px;
   color: #888;
}


@media screen and (max-width: 768px) {
   .container:before {
      left: 8px;
      width: 2px;
   }
   .timeline-block {
      width: 100%;
      margin-bottom: 30px;
   }
   .timeline-block-right {
      float: none;
   }

   .timeline-block-left {
      float: none;
      direction: ltr;
   }

   #cover-image {
    height: 550px;
   }

   .gate-section {
      margin: 10px;
   }

   .gate-section>ul {
      font-size: 15px;
   }
}


/*
TIMELINE CSS ENDS HERE
*/



/* FOOTER CSS */

section, footer {
    background: #1A1E25;
    color: #868c96;
}

footer{
  height: 30px;
  margin-bottom: 0px;
}
footer> p {
  text-align: center;
}

footer img {
    width: 44px;
}

footer a {
  color: #A3BAC3;
}

.sm-icon {
  width: 35px;
}
/* FOOTER CSS END */
