@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
	border: 0px;
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   outline: none;
   font-family: 'Josefin Sans', sans-serif;
}

.image-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 550px; 
  overflow: hidden;
}

.image-container > img {
  max-width: 100%;
  height: auto;
  filter: blur(2px);
  background-size: 100%;
}



.overlay h1{
    position:absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#quote {
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-family: 'Josefin Sans', sans-serif;
	font-size: 200%;
	color: white;
	text-align: center;
}

.overlay img {
	position: absolute;
	border-radius: 50%;
	min-width: 15%;
	width: 15%;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.overlay h1{
	font-family: 'Josefin Sans', sans-serif;
	color: white;
  white-space: nowrap;
}



@media screen and (min-width: 811px) {
  .overlay h1{
    font-size: 50px;
    text-align: center;
    white-space: nowrap;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 810px) {
  .overlay h1{
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
  }

  .overlay img {
  	width: 35%;
  	height: auto;
  }

#cover-image {
    height: 550px;
   }

}

/* WorkSHOP gallery view CSS */

.lightbox {
  /* Default to hidden */
  display: none;

  /* Overlay entire screen */
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  /* A bit of padding around image */
  padding: 1em;

  /* Translucent background */
  background: rgba(0, 0, 0, 0.8);
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
  display: block;
}

.lightbox span {
  /* Full width and height */
  display: block;
  width: 100%;
  height: 100%;

  /* Size and position background image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Workshop CSS ends */

/* Skills CSS */


/* Skills CSS END */

.about-me {
  margin-top: 550px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #CFD8DC;
}

.about-me>h1{
  margin-left: 5%;
  padding-top: 5%;
  padding-bottom: 3%;
  margin-right: 5%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 200%;
  cursor: pointer;
}

.about-me>h1:hover {
  -webkit-transition: transform 0.3s ease-in-out;
  transform: scale(1.5);
}

.skills:hover + p {
  visibility: visible;
}

.skills + p {
  visibility: hidden;
  font-size: 40%;
  text-align: center;
}

.about-me>p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  padding-top: 10px;
  text-align: center;
}

.skills {
  text-decoration: none;
  color: black;
}


.certs-container {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.certs-container > a {
  width: 12%;
  text-align: center;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.certs-container>a:hover {
  -webkit-transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
}

.cert-img {
  width: 100%;
  height: 100%;
}



@media screen and (max-width: 768px) {

  .certs-container {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.certs-container > a {
  width: 18%;
  text-align: center;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.certs-container>a:hover {
  -webkit-transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
}

.cert-img {
  width: 100%;
  height: 100%;
}

   #cover-image {
    height: 550px;
   }

}




/* FOOTER CSS */
 section {
            padding: 10px 0;
           /* min-height: 100vh;*/
        }
 ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
.contact-area {
    border-bottom: 1px solid #353C46;
}


.contact-social {
    margin-top: 30px;
}

.contact-social > ul {
    display: inline-flex;
}

.contact-social ul li a {
    color: #8b9199;
    display: inline-block;
    height: 40px;
    padding-left: 15px; 
    margin: 0 10px;
    text-align: center;
    transition: all 0.4s ease 0s;
    width: 40px;
}

.contact-content {
  display: flex;
  flex-direction: row;
}

.footer-menu{
  display: flex;
  flex-direction: row;
  margin-left: 60%;
  margin-top: 30px;
}

.footer-menu>h1 {
  margin-left: 40px;
  margin-bottom: 15px;
  cursor: pointer;
}

.footer-menu a{
  text-decoration: none;
  color: #A3BAC3;
}


section, footer {
    background: #1A1E25;
    color: #868c96;
}

footer p {
    padding: 10px 0;
    text-align: center;
}

footer img {
    width: 44px;
}

footer a {
  color: #A3BAC3;
}

.sm-icon {
  width: 35px;
}
/* FOOTER CSS END */

/* Hamburger menu CSS */
.hamburger-menu {
  display: none;
}
#menu__toggle {
  opacity: 0;
  z-index: 999;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 2;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #616161;

  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;

  width: 200px;
  height: 100%;

  margin: 0;
  padding: 80px 0;
  z-index: 1;
  list-style: none;

  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

  transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;

  color: #333;

  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;

  text-decoration: none;

  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

/* Hamgurger CSS ends */