@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
	border: 0px;
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   outline: none;
}

.image-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 550px; 
  overflow: hidden;
}

.image-container > img {
  max-width: 100%;
  height: auto;
  filter: blur(2px);
  background-size: 100%;
}



.overlay h1{
    position:absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#quote {
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-family: 'Josefin Sans', sans-serif;
	font-size: 200%;
	color: white;
	text-align: center;
}

.overlay img {
	position: absolute;
	border-radius: 50%;
	min-width: 15%;
	width: 15%;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.overlay h1{
	font-family: 'Josefin Sans', sans-serif;
	color: white;
  white-space: nowrap;
}



@media screen and (min-width: 811px) {
  .overlay h1{
    font-size: 50px;
    text-align: center;
    white-space: nowrap;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 810px) {
  .overlay h1{
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
  }

  .overlay img {
  	width: 35%;
  	height: auto;
  }

#cover-image {
    height: 550px;
   }

}

/* WorkSHOP gallery view CSS */

.lightbox {
  /* Default to hidden */
  display: none;

  /* Overlay entire screen */
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  /* A bit of padding around image */
  padding: 1em;

  /* Translucent background */
  background: rgba(0, 0, 0, 0.8);
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
  display: block;
}

.lightbox span {
  /* Full width and height */
  display: block;
  width: 100%;
  height: 100%;

  /* Size and position background image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Workshop CSS ends */

/* Skills CSS */


/* Skills CSS END /*

/*
TIMELINE CSS STARTS HERE

*/

.certs {
  margin-top: 555px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}

.certs > img {
  margin-left: 2.5%;
  margin-right: 2.5%;
  width: 18%;
  
}

.timeline{
   margin-top: 1px;
   padding: 30px 0;
   font-family: 'Roboto', sans-serif;
   background: #F1F2F6;

}

#cover-image {
    height: 550px;
    width: 100%;
   }

#timeline-title {
   margin-top: 30px;
   text-align: center;
   font-weight: 300;
   color: #777
}

#timeline-title span {
   font-weight: 600;
}

.container {
   width: 80%;
   padding: 50px 0;
   margin: 30px auto;
   position: relative;
   overflow: hidden;
}

.container:before {
   content: '';
   position: absolute;
   top: 0;
   left: 50%;
   margin-left: -1px;
   width: 2px;
   height: 100%;
   background: #CCD1D9;
   z-index: 1
}

.timeline-block {
   width: -webkit-calc(50% + 8px);
   width: -moz-calc(50% + 8px);
   width: calc(50% + 8px);
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: flex;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -moz-box-pack: justify;
   justify-content: space-between;
   clear: both;
}

.timeline-block-right {
   float: right;
}

.timeline-block-left {
   float: left;
   direction: rtl
}

.marker {
   width: 16px;
   height: 16px;
   border-radius: 50%;
   border: 2px solid #F5F7FA;
   background: #4FC1E9;
   margin-top: 10px;
   z-index: 1
}

.timeline-content {
   width: 95%;
   padding: 0 15px;
   color: #666
}

.timeline-content h3 {
   margin-top: 5px;
   margin-bottom: 5px;
   font-size: 25px;
   font-weight: 500
}

.timeline-content span {
   font-size: 15px;
   color: #8B94A3;
}

.timeline-content p {
   font-size: 14px;
   line-height: 1.5em;
   word-spacing: 1px;
   color: #888;
}


@media screen and (max-width: 768px) {
   .container:before {
      left: 8px;
      width: 2px;
   }
   .timeline-block {
      width: 100%;
      margin-bottom: 30px;
   }
   .timeline-block-right {
      float: none;
   }

   .timeline-block-left {
      float: none;
      direction: ltr;
   }

   #cover-image {
    height: 550px;
   }
}


/*
TIMELINE CSS ENDS HERE
*/


/* FOOTER CSS */

/* FOOTER CSS END */

/* Hamburger menu CSS */
#menu__toggle {
  opacity: 0;
  z-index: 999;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 2;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #616161;

  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;

  width: 200px;
  height: 100%;

  margin: 0;
  padding: 80px 0;
  z-index: 1;
  list-style: none;

  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

  transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;

  color: #333;

  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;

  text-decoration: none;

  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

/* Hamgurger CSS ends */